.allAttempts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 10px;
    width: 100%;

    h5{
        margin: 5px;
        margin-bottom: 15px;
        font-weight: lighter;
    }

    .styledTable{
        border-collapse: collapse;
        font-size: 0.9em;
        font-family: sans-serif;
        
        thead{
            tr{
                background-color: $overlay000;
                color: $baseColor;
                text-align: center
            }
            th{
                padding: 5px;
                cursor: pointer;
            }
        }

        tbody{
            tr{
                background-color: $overlay800;
                color: white;
                text-align: center;
                border: 1px solid $overlay000;
                cursor: pointer;
            }
            td{
                padding: 6px;
            }
            td:nth-child(2n+3){
                border-right: 1px solid;
            }
            tr:hover{
                background-color: $overlay000;
                color: $baseColor;
                text-align: center;
                td{
                    border: none;
                }
            }
        }
    }
    
    @include mobile{
        .tableResponsive {
            display: block;
            position: relative;
            font-size: 1.0em;
          }
          
          .tableResponsive thead,
          .tableResponsive tbody,
          .tableResponsive th,
          .tableResponsive td,
          .tableResponsive tr {
            display: block;
          }

          .tableResponsive td,
          .tableResponsive th {
            height: 30px;
            padding: 5px !important;
          }
          
          .tableResponsive thead {
            float: left;
          }

          .tableResponsive tbody {
            position: relative;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            white-space: nowrap;
          }

          .tableResponsive tbody tr {
            display: inline-block;
          }
    }
}