@import "@fontsource/roboto";

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    background-color: $baseColor;
    //height: 100vh;
    color: white;
    overflow-x: hidden; 
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}