.login_container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .videoContainer{
        width: 100vw;
        height: 100vh;
        position: fixed;

        iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 130vw;
            height: 130vh;
            transform: translate(-50%, -50%);
        }
    }

    video{
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    .login_bg{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.6);

        .login{
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            //background-color: darkslategray;
           // border-radius: 7px;

            button{
                display: flex;
                border-radius: 7px;
                justify-content: space-around;
                align-items: center;
                padding: 7px;
                background-color: white;
                color: black;
                cursor: pointer;
                font-size: large;
            }
        }
    }
}

@media (min-aspect-ratio: 16/9) {
    .video-container iframe {
      /* height = 100 * (9 / 16) = 56.25 */
      height: 56.25vw;
    }
  }
      
  @media (max-aspect-ratio: 16/9) {
    .video-container iframe {
      /* width = 100 / (9 / 16) = 177.777777 */
      width: 177.78vh;
    }
  }